.cards-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 1s ease-in-out;
  background: url("../../assets/AI-Trip-Planner.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
